body {
    margin: 20px;
  }
  
  h1 {
    font-size: 50px;
  }
  
  h4 {
    font-size: 18px;
  }
  
  .card {
    border: 1px solid #ccc;
  }
  
  .card-title {
    font-size: 20px;
  }
  
  #Aashu{
     font-size: 50px ;
  }